@{
    //ViewBag.Title = "About";

}

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pb-11 pt-7 bg-600">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h6 class="font-sans-serif text-primary fw-bold">Şinas Otomotiv</h6>
                        <h1 class="mb-6">Hakkında<br /></h1>
                    </div>
                </div>
            </div>
            <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section style="margin-top:-21.5rem">

            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <img class="w-100" src="~/Content/assets/img/rim.png" alt="..." />
                        <h1 class="mt-7 mb-5">Biz Kimiz ?</h1>
                        <p>
                            Türkiye’nin ilk jant fabrikalarından olan JAMAŞ JANT MAKİNA SANAYİ VE TİCARET ANONİM ŞİRKETİ 40. yılında sizlerle büyümeye, güçlenmeye devam ediyor.



                            Fabrikamız yaklaşık 40 yıl boyunca Ankara’da üretim yaparak, iç ve dış pazarın ihtiyaçlarına cevap olmaya çalıştı. Fabrikamız 2014 itibari ile artık ülkemizin sanayileşme ihtiyacı duyan illerinden olan Diyarbakır’da üretime devam edecektir.

                            Jamaş Jant, yatırımı yapan genç, dinamik ve girişimci ekibin yönetiminde büyümeye devam kararı almıştır.

                            İlimizde istihdama, bölgemizde kalkınmaya ve ülkemizde ekonomik büyümeye katkıyı hedefleyen bu anlamlı ve cesur kararın asıl sahipleri, siz değerli ortaklarımızsınız. Hepimize hayırlı olmasını diliyoruz.

                            </p>
                        <p>
                            Jamaş Jant bugüne kadar olduğu gibi bundan sonra da ihtiyaçlarınıza uygun, talepleriniz doğrultusunda kaliteyi arttırarak, fiyat ve teslimatta müşteri memnuniyetini esas alarak üretimini kesintisiz sürdürecektir.

                            Jamaş Jant kurumsal misyonunu sürdürecektir. Pazarın taleplerine, değişen ihtiyacına uygun yapılanmayı daimi kılacaktır. Güven, karşılıklı sorumlulukların gereklerine uygun davranmaktır. Jamaş Jant bu güveni kazanma ve kazandırma bilincini daima canlı tutacaktır.

                            Jamaş Jant iç ve dış pazarda, özellikle traktör ve tarım makinalarının jant ihtiyacını karşılamada iddialı olduğu gibi yakın gelecekte yedek parça üretimi için de projeler hazırlamaktadır.
                        </p>
                        <p>
                            Jamaş Jant kalite çıtasını yükselterek yıllık 50.000 adet olan üretim kapasitesini;  iç pazarda ve ihracatta payını arttırmak amacındadır.



                            Jamaş Jant, makina üreticilerinin ve pazarlama sektörünün desteği ile büyüyeceği bilinciyle sizlerin düşünce ve önerilerine önem vermeye devam edecektir.



                            Siz değerli ortaklarımızla/müşterilerimizle büyüyüp-büyütmek ilkesiyle çalışmak, bizim için mutluluk ve onur verici olacaktır.
                        </p>
                        <h1 class="mt-8 mb-5">Amaçlarımız</h1>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <i class="fas fa-check text-info me-2"></i><strong>Misyonumuz ; </strong>&nbsp;İstihdama, bölgemizde kalkınmaya ve ülkemizde ekonomik büyümeye katkı yapmak,
                                Piyasanın ihtiyaçlarına uygun, müşterinin talepleri doğrultusunda kaliteli ürün üretmek,
                                Fiyat ve teslimatta müşteri memnuniyetini esas almak.
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-info me-2"></i><strong>Vizyonumuz ; </strong>&nbsp;* Kaliteli ürün için üretim teknolojisini geliştirmek,

                                * Personelin yeteneklerini geliştirerek yetkinleştirmek,

                                * İşi yönetmeye dayalı bir yönetim anlayışını kurumsallaştırmak,

                                * Kalite yönetimini etkinleştirerek, üretimde verimliliği arttırmak,

                                * Sektörde güven esaslı pazar payını arttırmak.
                            </li>
                            <li class="mb-3"> <i class="fas fa-check text-info me-2"></i><strong >Referanslarımız ; </strong>&nbsp;<a class="font-sans-serif text-primary fw-bold" href="/Home/Ref">Buraya tıklayarak referanslarımıza gidebilirsiniz.</a> </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <!-- end of .container-->

        </section>
        
