@{
    //ViewBag.Title = "Home Page";

}


<section class="pt-6 bg-600" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 w-100" src="~/Content/assets/img/rim.png" width="470" alt="hero-header" /></div>
            <div class="col-md-7 col-lg-6 text-md-start text-center py-6">
                <h4 class="fw-bold font-sans-serif">Şinas Otomotiv</h4>
                <h1 class="fs-6 fs-xl-7 mb-5">Kalitenin en önemlisi olduğuna inanıyoruz.</h1><a class="btn btn-primary me-2" href="/Home/Contact" role="button">Fiyat Alın</a><a class="btn btn-outline-secondary" href="/Home/About" role="button">Daha Fazla</a>
            </div>
        </div>
    </div>
</section>


<!--Traktör jantları üzerine çalışan ve kaliteye önem veren bir otomotiv firmasıyız.-->
<!-- <section> begin ============================-->
<section class="py-0" style="margin-top:-5.8rem">


    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pt-0 mt-8">

    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-md-12 col-lg-6 h-100">
                <div class="card card-span text-white h-100">
                    <img class="w-100" src="~/Content/assets/img/rimred.png" alt="..." />
                    <div class="card-body px-xl-5 px-md-3 pt-0">
                        <div class="d-flex flex-column align-items-center bg-200" style="margin-top:-2.4rem;">
                            <h5 class="mt-3 mb-0">Şinas Otomotiv</h5>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 h-100">
                <h1 class="my-4">Tarım Aracı<br /><span class="text-primary">Jantları</span></h1>
                <p>
                    İstihdama, bölgemizde kalkınmaya ve ülkemizde ekonomik büyümeye katkı yapmak,
                    Piyasanın ihtiyaçlarına uygun, müşterinin talepleri doğrultusunda kaliteli ürün üretmek,
                    Fiyat ve teslimatta müşteri memnuniyetini esas almak.
                </p>
                <div class="mt-6">
                    <h5 class="font-sans-serif fw-bold mb-3">Şinas Otomotiv Kalitesiyle</h5>
                    <div class="card card-span bg-600">
                        <div class="card-body">
                            <div class="row flex-center gx-0">
                                <div class="col-lg-4 col-xl-3 text-center text-xl-start"><img src="~/Content/assets/img/rimicon1.png" width="120" alt="courses" /></div>
                                <div class="col-lg-8 col-xl-9">
                                    <h5 class="font-sans-serif fw-bold">E-Katalog Yayında!</h5>
                                    <p class="text-muted fs--1">Kontrol edin.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<section>

    <div class="container">
        <div class="row">
            <h1 class="text-center mb-5"> Çözüm Ortaklarımız</h1>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top w-100" src="~/Content/assets/img/deere.png" alt="courses" />
                    <div class="card-body">
                        <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">John Deere</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="https://www.deere.com/">www.deere.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top w-100" src="~/Content/assets/img/ford.png" alt="courses" />
                    <div class="card-body">
                        <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">Ford</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="https://www.ford.com">www.ford.com/</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top w-100" src="~/Content/assets/img/ferguson.png" alt="courses" />
                    <div class="card-body">
                        <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">Massey Ferguson</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="https://www.masseyferguson.com/tr_tr.html">www.masseyferguson.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top w-100 h-100" src="~/Content/assets/img/fiat.png" alt="courses" />
                    <div class="card-body">
                        <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">Fiat</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="https://www.fiat.com">www.fiat.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top w-100" src="~/Content/assets/img/steyr.png" alt="courses" />
                    <div class="card-body">
                        <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">Steyr Traktoren</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="https://www.steyr-traktoren.com">www.steyr-traktoren.com</a>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
   
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<!-- ============================================-->
<!-- <section> begin ============================-->

<!-- <section> close ============================-->
<!-- ============================================-->
<!-- ============================================-->
<!-- <section> begin ============================-->

<!-- <section> close ============================-->
<!-- ============================================-->
<!-- ============================================-->
<!-- <section> begin ============================-->
