
@{
    ViewBag.Title = "Ref";
}

<div class="row mt-5">
    
    <div class="container col-3">
        <h2 class="mb-5">Referanslarımız</h2>
        <p>
            ALKOÇAK OTOMOTİV A.Ş
            <br />
            ALİ CAN TİCARET
            <br />
            ARIKAN DIŞ TİCARET
            <br />
            ANADOLU MOTOR ÜRETİM VE PAZ. AŞ
            <br />
            ANADOLU TRAKTÖR A.Ş
            <br />
            AGRILINE PRODUCTS LTDL
            <br />
            BAŞKENT OTOMOTİV LTD.ŞTİ
            <br />
            BALKAR OTOMOTİV
            <br />
            BOLKAR MOTORLU ARAÇLAR İÇ VE DIŞ TİC.LTD.ŞTİ
            <br />
            CEYLAN KARDEŞLER MAKİNA TİC.LDT.ŞTİ
            <br />
            CEYLAN MOTORLU ARAÇLAR SAN VE TİC.A.Ş
            <br />
            CANSA DIŞ TİC.LTD.ŞTİ
            <br />
            DİRİKOÇ OTOMOTİV LASTİK PAZ.TİC.VE SAN.LTD.ŞTİ
            <br />
            DİZEL TRAKTÖR
        </p>

    </div>
    <div class="container col-3">
        <p>


            <br />
            <br />
            <br />
            <br />
            EPE/SPA/ETRAĞ
            <br />
            ESTRAK TRAKTÖR OTOMOTİV
            <br />
            GÖNEN MOTORLU ARAÇLAR LTD. ŞTİ.
            <br />
            HARS TRAKTÖR VE YEDEK PARÇA
            <br />
            İSTANBUL TRAKTÖR MAK. SAN.VE TİC.LTD.ŞTİ
            <br />
            METALLWERKE RENNER GMBH
            <br />
            MOREL OTOMOTİV
            <br />
            MEGA SAHAND SABALAND CO.
            <br />
            ORTATEPE PETROL YEDEK PARCA A.Ş
            <br />
            SİNCANLI OTO VE TRK.TİC.VE SAN. AŞ
            <br />
            TAFE TRACTORS AND FARM EQUİPMENT LTD.ŞTİ.
            <br />
            TAŞÇILAR İTH.İHR.LASTİK SAN.VE TİC.LTD.ŞTİ.
            <br />
            UYSAL RÖMORK DÖNERLERİ LTD.ŞTİ
            <br />
            YÜCESAN OTOMOTİV A.Ş
        </p>
    </div>
</div>